html, body {
  margin: 0;
  padding: 0;
font-family: 'Chicle', cursive;
font-family: 'Codystar', cursive;
font-family: 'Comforter Brush', cursive;
font-family: 'Roboto Mono', monospace;

/* background imgs */
/* background: url(assets/notes_background.png) no-repeat center center fixed; */
/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
}

canvas {
  display: block;
}



.title{
  padding-top: 170px;
  padding-right: 170px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: white;
}

.title-about{
  padding-top: 180px;
  padding-right: 70px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: white;
}

h1{
  text-align: center;
  font-weight: bolder;


}

h2{
  text-align: center;
  font-weight: bold;

}

h3{
  text-align: center;
  font-weight: bold;

}

/* background css code credit: https://www.magicpattern.design/tools/css-backgrounds */

.dots-bg{
  background-color: #ffffff;
opacity: 0.8;
background-image:  radial-gradient(#000000 2px, transparent 2px), radial-gradient(#000000 2px, #ffffff 2px);
background-size: 80px 80px;
background-position: 0 0,40px 40px;
}

.home-bg{
background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(black 1px, transparent 1px), linear-gradient(to right, black 1px, #e5e5f7 1px);
background-size: 20px 20px;
}

.color-bg{
  /* coloring pages img: https://www.vangoghmuseum.nl/en/art-and-stories/children/van-gogh-colouring-pages/colouring-page-almond-blossom */
  background: url(assets/vangogh-img2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.color2-bg{
  /* coloring pages img: https://www.vangoghmuseum.nl/en/art-and-stories/children/van-gogh-colouring-pages/colouring-page-the-yellow-house */
  background: url(assets/vangogh-img4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.color3-bg{
  /* coloring pages img: https://www.vangoghmuseum.nl/en/art-and-stories/children/van-gogh-colouring-pages/colouring-page-the-bedroom */
  background: url(assets/vangogh-img5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.notebook-bg{
background-color: #FAF7F6;
opacity: 0.8;
background-size: 40px 40px;
background-image:  repeating-linear-gradient(0deg, black, black 1px, #FAF7F6 1px, #FAF7F6);
}

.sketchpad-bg{
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.5px, #ffffff 0.5px);
  background-size: 10px 10px;
}



/* test */
/* Add a black background color to the top navigation */
.topnav {
  background-color: grey;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: silver;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: cream;
  color: white;
}


.music{
  position: absolute;
  bottom: 0;
  left: 2%;
}

.button1 {
position: absolute;
/* bottom: 60; */
top: 40;
left: 45%;
}

.button2{
  position: absolute;
  /* bottom: 0; */
  left: 45%;
}

.button3{
  position: absolute;
  bottom: 0;
  left: 45%;
}

.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  margin-right: 5px;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  margin-bottom: 25px;
}

.btn-one {
  padding: 12px 28px;
  ffont-family: 'Roboto Mono', cursive;
}

.btn-one:hover {
  color: black;
  background-color: white;
  transition: all 0.5s ease-in;
}

.btn-two {
  padding: 12px 28px;
  font-family: 'Roboto Mono', cursive;
}

.btn-two:hover {
  color: black;
  background-color: white;
  transition: all 0.5s ease-in;
}

.btn-three {
  padding: 12px 28px;
  font-family: 'Roboto Mono', cursive;
}

.btn-three:hover {
  color: black;
  background-color: white;
  transition: all 0.5s ease-in;
}

/* TEXT WRITING TEST ANIMATION */
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* SVG TEST ANIMATION */
/* CODE CREDIT: https://codepen.io/ANAMAFLA/pen/eYJbGpd */

  .patterns {
    height: 100vh;
  }

  svg text {

    font-family: Roboto Mono;
    letter-spacing: 10px;
    stroke: black;
    font-size: 190px;
    font-weight: 700;
    stroke-width: 3;


    animation: textAnimate 5s infinite alternate;

  }

  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      /* fill:hsl(189, 68%, 75%) */
      fill:hsl(#BCBCB8, 68%, 75%)
    }

    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }

  }
